<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <!-- CSS  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="../../public/styles/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="../../public/styles/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>


</head>
<body>
    <nav class="white" role="navigation">
        <div class="nav-wrapper container">
          <a href="/assets/Gym_Buddy_edited.jpg"> </a>
          <ul class="right hide-on-med-and-down">
            <li><a href="#">Login</a></li>
          </ul>
    
          <ul id="nav-mobile" class="sidenav">
            <li><a href="#">Navbar Link</a></li>
          </ul>
          <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        </div>
      </nav>
    
      <div id="index-banner" class="parallax-container">
        <div class="section no-pad-bot">
          <div class="container">
            <br><br>
            <h1 class="header center teal-text text-lighten-2">Gym Buddy</h1>
            <div class="row center">
              <h5 class="header col s12 dark">Begin our Signature Assessment</h5>
            </div>
            
            <br><br>
    
          </div>
        </div>
        <div class="parallax"><img src="../../public/images/gymbuddy-istock-min.jpg" alt="partner background img 1"></div>
      </div>
    
     
      <div class="container">
        <br></br>
        <div class="input-field col s6">
                <select multiple id="workout">
                  <option id="skip" value="skip" disabled selected>What type of workouts are you interested in?(select all that apply)</option>
                  <option id="cardio" value="cardio">Cardio </option>
                  <option id="strength" value="strength">Strength</option>
                  <option id="yoga" value="yoga">Yoga</option>
                  <!-- <option id="running" value="running">Running</option>
                  <option id="swimming" value="swimming">Swimming</option>
                  <option id="group" value="group">Group Classes</option> -->
                </select>
              </div> 
              <br></br>
              <div class="input-field col s6">
                      <select >
                        <option id="skip" value="skip" disabled selected>What is your skill level?</option>
                        <option id="beginner" value="beginner">Beginner</option>
                        <option id="intermediate" value="intermediate">Intermediate</option>
                        <option id="advanced" value="advanced">Advanced</option>
                      </select>
                    </div> 
                    <br></br>
              <div class="input-field col s6">
                      <select multiple id="workoutTime">
                        <option id="skip" value="skip" disabled selected>What time of day do you like to workout?</option>
                        <option id="morning" value="morning">Morning</option>
                        <option id="midday" value="midday">Mid Day</option>
                        <option id="evening" value="evening">Evening</option>
                      </select>
                    </div>  
                    <br></br>
                    <!-- <div class="input-field col s6">
                      <select id="workoutLength">
                        <option id="skip" value="skip" disabled selected>What is your desired workout length?</option>
                        <option id="short" value="short">Short (under 30 minutes)</option>
                        <option id="medium" value="medium">Medium (30 minutes to 1 hour </option>
                        <option id="long" value="long">Long (1 hour to 2 hours) </option>
                        <option id="extended" value="extended">Extended (More than 2 hours) </option>
                      </select>
                    </div> 
                    <br></br> -->
              <!-- <div class="input-field col s6" id="gym">
                      <select multiple>
                        <option id="skip" value="skip" disabled selected>Select Your Gyms</option>
                        <option id="24" value="24">24 Hour Fitness</option>
                        <option id="lafitness" value="lafitness">LA Fitness</option>
                        <option id="equinox" value="equinox">Equinox</option>
                        <option id="crossfit" value="crossfit">Crossfit</option>
                        <option id="corepower" value="corepower">Corepower Yoga</option>
                        <option id="orangeTheory" value="orangeTheory">Orange Theory</option>
                        <option id="planetFitness" value="planetFitness">Planet Fitness</option>
                        <option id="lifetime" value="lifetime">Life Time</option>
                        <option id="none" value="none">No Gym/Outdoors</option>
                      </select>
                    </div>  -->
                    
      </div>
                <br></br>

      <footer class="page-footer teal">
            <div class="container">
             
            </div>
            <div class="footer-copyright">
              <div class="container">
              Surveys and Bodies Made by Gym Buddy
              </div>
            </div>
          </footer>
  




    
<!--Scripts-->
<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="../../public/js/materialize.js"></script>
  <script src="../../public/js/init.js"></script>

</body>
</html>